table.table.table-striped.table-border
  thead
    tr
      th Repository Name
  tbody
    tr(data-ng-repeat='repository in repositories')
      td
        a(href='/tags/{{ repository }}') {{ repository }}
