table.table.table-striped.table-border
  thead
    th Tag
    th Image ID
    th Created
    th Author
    th Docker Version
    th
  tbody
    tr(data-ng-repeat='tag in tags')
      td
        a(href='/details/{{ tag.repository }}/{{ tag.reference }}') {{ tag.reference }}
      td {{ tag.digest | limitTo: 12 }}
      td(am-time-ago='tag.details.created')
      td {{ tag.details.author }}
      td {{ tag.details.docker_version }}
      td
        button.btn.btn-danger(type='button', data-confirmed-click='deleteTag(tag.repository, tag.reference, tag.id)', data-ng-confirm-click="Are you sure you want to delete this tag?") Delete
